<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sage Serenity Lewis</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍃</text></svg>"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css"
    />
  </head>
  <body>
    <div id="album">
      <header class="bg-green-400 shadow">
        <div
          class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between"
        >
          <h1
            class="text-xl md:text-3xl font-bold leading-tight text-white md:pb-1 text-center md:text-left"
          >
            {{params.prefix.split("/").join("")}}
          </h1>
          <span class="block rounded-md">
            <a
              class="items-center px-4 py-2 border border-green-300 text-sm leading-5 font-medium rounded-md text-green-700 bg-white hover:text-green-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-green-800 active:bg-green-50 transition duration-150 ease-in-out mt-5 lg:mt-0 block text-center"
              href="/"
            >
              Back to Albums
            </a>
          </span>
        </div>
      </header>

      <h2
        class="text-center tracking-tight leading-2 font-extrabold text-gray-900 text-2xl sm:leading-none sm:text-3xl md:text-5xl p-4 mt-10"
        v-if="!loaded"
      >
        Loading album...
      </h2>

      <div class="hidden sm:flex justify-center mt-10" v-else>
        <button
          class="text-gray-800 font-bold py-2 px-4 rounded-l"
          :class="{ ['bg-gray-400']: thumbnails, ['bg-gray-300']: !thumbnails }"
          @click="thumbnails = true"
        >
          Show thumbnails
        </button>
        <button
          class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-r"
          :class="{ ['bg-gray-300']: thumbnails, ['bg-gray-400']: !thumbnails }"
          @click="thumbnails = false"
        >
          Show feed
        </button>
      </div>

      <div
        class="max-w-7xl mx-auto my-2 sm:my-10 px-4 sm:px-10 flex-row flex-wrap justify-center"
        :class="{ flex: thumbnails }"
      >
        <a :href="photo.link" v-for="photo in files">
          <img
            :src="photo.link"
            class="relative rounded-lg my-2 block shadow-lg"
            :class="{ ['sm:h-40']: thumbnails, ['my-4']: !thumbnails, ['lg:max-w-md']: thumbnails, ['w-full']: !thumbnails, ['sm:w-full']: !thumbnails, ['sm:mx-0']: !thumbnails, ['sm:mx-2']: thumbnails }"
          />
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      const album = new Vue({
        el: '#album',
        data: {
          loaded: false,
          files: [],
          thumbnails: true
        },
        async created() {
          const { bucketId, prefix } = this.params
          this.files = await fetch(
            `/api/album-single?bucketId=${bucketId}&prefix=${prefix}`
          ).then(r => r.json())
          console.log(this.files)
          this.loaded = true
        },
        computed: {
          params() {
            const search = location.search.substring(1)
            return JSON.parse(
              '{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}',
              function (key, value) {
                return key === '' ? value : decodeURIComponent(value)
              }
            )
          }
        }
      })
    </script>
  </body>
</html>
