<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photos</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍃</text></svg>"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css"
    />
  </head>
  <body>
    <div id="albums">
      <header class="bg-white p-4 border-b">
        <a href="/" class="text-blue-500 font-semibold">{{site.title}}</a>
      </header>
      <div class="bg-gray-100 p-4">
        <p>{{site.text}}</p>
      </div>
      <h2
        class="
          text-center
          tracking-tight
          leading-2
          font-extrabold
          text-gray-900 text-2xl
          sm:leading-none
          sm:text-3xl
          md:text-5xl
          p-4
          mt-10
        "
        v-if="!loaded"
      >
        Loading albums...
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 gap-4">
        <a
          v-for="album in albums"
          class="
            border
            block
            w-full
            border
            block
            w-full
            py-2
            px-4
            rounded
            text-blue-500
            font-semibold
            hover:bg-blue-500
            hover:text-white
            hover-border-blue-500
          "
          :href="album.link"
          :href="album.link"
        >
          {{album.fileName.split("/").join("")}}
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
      const albums = new Vue({
        el: "#albums",
        data: {
          loaded: false,
          albums: [],
          site: false,
        },
        async created() {
          await this.loadSiteInfo();
          await this.checkPassword();
        },
        methods: {
          async checkPassword(phrase = "Please enter the password") {
            return new Promise(async (resolve, reject) => {
              const password =
                localStorage.getItem("password") || prompt(phrase);
              const { validated } = await fetch("/api/check-password", {
                method: "POST",
                body: JSON.stringify({ password }),
              }).then((r) => r.json());
              if (!validated) {
                localStorage.removeItem("password");
                await this.checkPassword("Password was incorrect. Try again?");
              } else {
                localStorage.setItem("password", password);
                await this.loadAlbums();
                resolve();
              }
            });
          },
          async loadSiteInfo() {
            return new Promise(async (resolve, reject) => {
              this.site = await fetch("/api/site-info").then((r) => r.json());
              document.title = this.site.title;
              resolve();
            });
          },
          async loadAlbums() {
            return new Promise(async (resolve, reject) => {
              const password = localStorage.getItem("password");
              this.albums = await fetch(
                `/api/albums-list?password=${password}`
              ).then((r) => r.json());
              this.loaded = true;
            });
          },
        },
      });
    </script>
  </body>
</html>
